.title-banner h1 {
  color: #52ffc9;
  font-weight: 900;
  
}

.title-banner {
  background: url("../img/sea-5621150_1920.jpg") rgba(39, 37, 37, 0.623);
  background-position: 50% 60%;
  background-blend-mode: darken;
  width: 100%;
  padding: 50px 50% 50px 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}