.title-banner {
  background-image: url("../img/sea-5621150_1920.jpg");
  background-position: 50% 60%;
  background-blend-mode: screen;
  width: 100%;
  padding: 50px 50% 50px 50%;
}

.home {
  width: 18rem;
}